*{
    margin: 0px;
    width: 1611px;
    height: 936px;
}


.outer{
    
    position: relative;
    background: #1E1F2F;
    overflow: hidden;
    
}

.rectangle{
   
    background-color: transparent;
    box-sizing: border-box;
    position: absolute;
    width: 558px;
    height: 644px;
    left: 1169px;
    top: -179px;
    border: 60px solid #48596D;
    overflow: hidden;
}

.rectangle2{
   
    background-color: transparent;
    box-sizing: border-box;
    position: absolute;
    width: 558px;
    height: 644px;
    left: 691px;
    top: 385px;
    border: 60px solid #2D2F48;
    overflow: hidden;
}

.rectangle3{
    box-sizing: border-box;
    position: absolute;
    width: 504px;
    height: 618px;
    left: 957px;
    top: 166px;
    border: 60px solid #FFFFFF;
    background-color: transparent;
}

.square1{
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1169px;
    top: 385px;
    border: 20px solid #FFFFFF;
    background-color: transparent;
}

.square2{
    box-sizing: border-box;
    position: absolute;
    width: 240px;
    height: 240px;
    left: 1089px;
    top: 305px;
    border: 40px solid #E82C4F;
    background-color: transparent;
}

.square3{
    box-sizing: border-box;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1089px;
    top: 585px;
    border: 20px solid #3256A1;
}

.square4{
    position: absolute;
    width: 31.06px;
    height: 27.42px;
    left: 130px;
    top: 125px;
    background: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.square5{
    position: absolute;
    width: 60.47px;
    height: 68.55px;
    left: 161.09px;
    top: 152.45px;
    background: #E82C4F;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    text-align: center ;
}


.circle1{
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: 1249px;
    top: 585px;
    border: 20px solid #FFFFFF;
}

.text{
    position: absolute;
    width: 331px;
    height: 96px;
    left: 261.54px;
    top: 125px;
    font-family: 'Bebas Neue', sans-serif ;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 25;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-align: center 
}


.text2{
    display: flex;
    position: relative;
    width: 800px;
    height: 400px;
    left: 90px;
    top: 315px;
    font-family: 'Bebas Neue', sans-serif ;
    color: #FFFFFF;
    font-size: 156px;
    font-weight: 400;
    line-height: 123px;
    /* letter-spacing: 1px; */
    text-align: left;
    margin: 40px;
}
    
.text3{
    width: 196px;
    height: auto;
    top: 785px;
    left: 206px;
    display: flex;
    position: absolute;
    font-family: 'Bebas Neue', sans-serif ;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 400;
    text-align: left;
}

.text4{
    width: 196px;
    height: auto;
    top: 785px;
    left: 550px;
    display: flex;
    position: absolute;
    font-family: 'Bebas Neue', sans-serif ;
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 400;
    text-align: left;
}

#icon1{
position: absolute;
height: 34px;
width: 43.94025421142578px;
left: 140px;
top: 796px;
border-radius: 0px;
}

#icon2{
    position: absolute;
    height: 36px;
    width: 43.94025421142578px;
    left: 484px;
    top: 796px;
    border-radius: 0px;
    }







